ul,
ol {
  list-style-type: none;
  padding-left: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 1500px;
  gap: 24px 24px;
  justify-content: center;
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
}
